.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: inline;
  margin: 10px 0;
}

.video-player {
  display: flex;
  flex-direction: column;
}
